/* Modible device  grid-template-areas: ;***/
.msg {
    color: white;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    display: none;
}
main {
    grid-template-columns: 1fr;
}
header {
    background-color: #628b48;
}
header,
a {
    text-decoration: none;
    color: #fffdfd;
    font-family: "Quicksand", sans-serif;
    padding: 3px;
    text-align: left;
    padding-bottom: 10px;
}
div img {
    width: 20px;
    padding-top: 10px;
}
a {
    display: none;
}
.ham {
    display: block;
    padding-left: 30px;
}
.responsive a {
    display: block;
}
a:hover {
    background-color: #fffdfd;
    color: #ffa62b;
    font-weight: 500;
    border-radius: 10px;
}
#media {
    padding-left: 30px;
}
body {
    background: #0b3c49;
}
#hero {
    position: relative;
    margin-top: 10px;
    background-color: rgba(250, 240, 230, 0);
}
#hero img,
#hero source {
    width: 100%;
    height: 100%;
}
#heroH3 {
    position: absolute;
    top: 0;
    left: 50px;
}
#heroSizeS {
    position: absolute;
    top: 0;
    right: 50px;
}
#heroSizeM {
    display: none;
}
#heroSizeL {
    display: none;
}

#heroBtn {
    position: absolute;
    font-size: 15px;
    bottom: 20px;
    right: 35px;
}
.icons {
    width: 80px;
    padding-left: 20px;
    position: relative;
    padding-top: 0;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
#news {
    width: 90%;
}
#degree {
    position: relative;
    font-size: 30px;
    left: 150px;
    top: 60px;
    padding: 0;
    margin: 0;
}
.iconsS {
    width: 80px;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25%;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    color: #0b3c49;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding-left: 30px;
}
h2 {
    color: #fbfef9;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding-left: 30px;
}
h3 {
    color: #0b3c49;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 0 10px #14677e, 0 0 15px #14677e;
}
h4 {
    color: #d8820a;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 0 10px #f7960f, 0 0 15px #f89a16;
    text-align: center;
}
h5 {
    color: #0b3c49;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    padding-top: 20px;
}
#container {
    display: flex;
}
#headings {
    display: inline-block;
    align-self: flex-end;
    width: 500px;
}
#longDate {
    font-size: 10px;
    padding-left: 30px;
    padding-bottom: 0;
}
button {
    background-color: #628b48;
    color: white;
    border: #628b48;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 0 10px #628b48, 0 0 15px #628b48;
}
#join {
    width: 90%;
    display: none;
}
#joinBtn {
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.logo {
    width: 33%;
    background-color: #0b3c49;
    border-radius: 15%;
    margin-top: 1px;
    border: gray solid 1px;
    display: inline-block;
    /* float: left; */
    padding: 0;
    align-self: flex-start;
}
section {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: #0b3c49 solid 1px;
    border-radius: 8px;
    background: #fbfef9;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}
#third {
    border: #0b3c49 solid 1px;
    border-radius: 8px;
    background: #fbfef9;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#spotlight1,
#spotlight2 {
    border: lightslategray;
    box-shadow: 0 0 10px lightslategray, 0 0 15px lightslategray;
    margin-bottom: 5px;
}

#otherSpotlight {
    display: none;
}
.slp {
    font-size: 11px;
    font-family: "Cutive Mono", monospace;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}
footer {
    background-color: #628b48;
    color: white;
    padding: 5px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}
#footerimage {
    width: 60px;
    background-color: #0b3c49;
}
#footerimage {
    display: block;
    border-radius: 15%;
}
#footerinfo {
    display: inline-block;
    align-self: flex-end;
    width: 600px;
}
footer p {
    padding: 0;
}
#maplink:hover {
    background-color: #fffdfd;
    color: #ffa62b;
    width: 100px;
}
#year {
    text-align: center;
    font-size: 15px;
}
iframe {
    width: 300px;
    height: 200px;
}
