/* Modible device  grid-template-areas: ;***/
.msg {
    color: white;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    display: none;
}
main {
    grid-template-columns: 1fr;
}
header {
    background-color: #628b48;
}
header,
a {
    text-decoration: none;
    color: #fffdfd;
    font-family: "Quicksand", sans-serif;
    padding: 3px;
    text-align: left;
    padding-bottom: 10px;
}
#imageLink:hover {
    background-color: #628b48;
}
div img {
    width: 20px;
    padding-top: 10px;
}
a {
    display: none;
    font-size: 20px;
}
.ham {
    display: block;
    padding-left: 30px;
}
.responsive a {
    display: block;
}
a:hover {
    background-color: #fffdfd;
    color: #ffa62b;
    font-weight: 500;
    border-radius: 10px;
}
#media {
    padding-left: 30px;
}
body {
    background: #0b3c49;
}
#hero {
    position: relative;
    margin-top: 10px;
    background-color: rgba(250, 240, 230, 0);
}
#hero img,
#hero source {
    width: 100%;
    height: 100%;
}
#heroH3 {
    position: absolute;
    top: 0;
    left: 50px;
    font-size: 30px;
    text-shadow: 0 0 10px #ffffff;
}
#heroSizeS {
    position: absolute;
    top: 0;
    right: 50px;
}
#heroSizeM {
    display: none;
}
#heroSizeL {
    display: none;
}

#heroBtn {
    position: absolute;
    font-size: 15px;
    bottom: 20px;
    right: 35px;
}
.icons {
    width: 80px;
    padding-left: 20px;
    position: relative;
    padding-top: 0;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
#news {
    width: 100%;
}
#degree {
    position: relative;
    font-size: 30px;
    left: 150px;
    top: 60px;
    padding: 0;
    margin: 0;
}
.iconsS {
    width: 80px;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25%;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    color: #0b3c49;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-left: 30px;
}
h2 {
    color: #fbfef9;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-left: 30px;
    font-size: 25px;
}
h3 {
    color: #0b3c49;
    font-family: "Montserrat", sans-serif;
}
h4 {
    color: #d8820a;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 23px;
}
h5 {
    color: #0b3c49;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    padding-top: 20px;
}
#container {
    display: flex;
}
#headings {
    display: inline-block;
    align-self: flex-end;
    width: 500px;
}
#longDate {
    font-size: 10px;
    padding-left: 30px;
    padding-bottom: 0;
}
button {
    background-color: #628b48;
    color: white;
    border: #628b48;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-shadow: 0 0 5px #8bb472;

    /* box-shadow: 0 0 10px #628b48, 0 0 15px #628b48; */
}
#join {
    width: 90%;
    display: none;
}
#joinBtn {
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.logo {
    width: 33%;
    background-color: #0b3c49;
    border-radius: 15%;
    margin-top: 1px;
    border: gray solid 1px;
    display: inline-block;
    /* float: left; */
    padding: 0;
    align-self: flex-start;
}
section {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: #0b3c49 solid 1px;
    border-radius: 8px;
    background: #fbfef9;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}
#third {
    border: #0b3c49 solid 1px;
    border-radius: 8px;
    background: #fbfef9;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#spotlight1,
#spotlight2 {
    border: lightslategray;
    box-shadow: 0 0 10px lightslategray, 0 0 15px lightslategray;
    margin-bottom: 5px;
    width: 95%;
}

#otherSpotlight {
    display: none;
}
.slp {
    font-size: 11px;
    font-family: "Cutive Mono", monospace;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}
footer {
    background-color: #628b48;
    color: white;
    padding: 5px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}
#footerimage {
    width: 60px;
    background-color: #0b3c49;
}
#footerimage {
    display: block;
    border-radius: 15%;
}
#footerinfo {
    display: inline-block;
    align-self: flex-end;
    width: 600px;
}
footer p {
    padding: 0;
}
#maplink:hover {
    background-color: #fffdfd;
    color: #ffa62b;
    width: 100px;
}
#year {
    text-align: center;
    font-size: 15px;
}
iframe {
    width: 300px;
    height: 200px;
}

#discoverH1 {
    text-align: center;
}
#discover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    border-color: white;
}

#discover p {
    width: 400px;
}
#discoverimg {
    margin: 5px;
}
/* Discover Page */
#visitorsDates {
    text-align: center;
}
figcaption {
    width: 400px;
}
picture {
    margin: 0 auto;
    padding: 5px;
}
/* Join Css */

form {
    display: block;
    padding: 3px;
    background: #fbfef9;
    width: 400px;
    margin: 10px auto;
    border-radius: 8px;
}
label {
    display: block;
    text-align: center;
    margin-top: 5px;
}
input {
    padding: 3px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

#bus {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
#submit {
    display: block;
    background-color: #628b48;
    color: white;
    border: #628b48;
}

#membership {
    width: 400px;
    margin: 10px auto;
    text-align: center;
}

/* Thank you page */
#thankyou {
    background-color: white;
    text-align: center;
    margin-bottom: 200px;
}

/* Directorypage */
#cards img {
    display: block;
    margin: 0 auto;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
#cards section {
    padding: 30px;
    text-align: center;
    width: 250px;
    margin: 20px;
}
#webpage {
    display: block;
    color: black;
    text-align: center;
}
#cards img {
    width: 100px;
}
#btns {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btns button {
    margin: 10px;
    box-shadow: 0 0 0, 0 0 0;
}
#btns button:hover {
    background-color: #0b3c49;
    color: white;
}
table a {
    color: black;
    font-size: 15px;
}
#cardhover a {
    color: black;
    font-size: 15px;
}
/* Table / list */
table {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0 5px #0b3c49;
    text-align: center;
    margin-bottom: 10px;
}
table,
th,
td {
    border: 1px solid #0b3c49;
    border-collapse: collapse;
    padding: 10px;
}
tr {
    width: 90%;
    margin: 0 auto;
}
#weathericon {
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 0;
}
