/* Medium screen device  ***/
@media only screen and (min-width: 550px) {
    #first {
        display: inline;
    }
    #third {
        border: #0b3c49 solid 1px;
        border-radius: 8px;
        background: #fbfef9;
        display: flex;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
    }
    #spotlight1 {
        width: 48%;
    }
    #spotlight2 {
        width: 48%;
    }
    #otherSpotlight {
        display: none;
    }
    #weatherjoin {
        display: grid;
        grid-template-columns: 3fr 6fr 1fr;
    }
    #weather {
        width: 63%;
        margin-left: 34%;
        margin-right: 3%;
    }
    #join {
        width: 100%;
        position: relative;
        margin-right: 15%;
    }
    nav a {
        display: inline;
        list-style-type: none;
        font-size: 15px;
        font-weight: 700;
    }
    .navbar {
        padding-left: 30px;
    }

    h1 {
        font-size: 40px;
    }
    .logo {
        width: 150px;
        background-color: #0b3c49;
        border-radius: 15%;
        padding-left: 6px;
        margin-top: 10px;
        border: gray solid 1px;
        display: block;
        float: left;
    }
    a {
        display: block;
    }
    .ham {
        display: none;
    }
    #longDate {
        font-size: 10px;
        padding-left: 30px;
        padding-bottom: 0;
    }
}
